
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
				xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>Fairfield Bookstore</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/non-responsive.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
	<link rel="icon" type="image/gif" href="/image/icon.png" />
<!--	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">-->

</head>
<body>
	<div th:fragment="navbar">
	<div class="page-top"
			style="width: 100%; height: 20px; background-color: #f46b42"></div>
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}"> Fairfield BOOKSTORE</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-left">

							<form class="navbar-form">
								<div class="form-group">
									<input type="text" name="keyword" class="form-control" placeholder="Book Title" />
								</div>
								<button type="submit" class="btn btn-deafult" value="/searchBook">Search</button>
							</form>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="hasRole('ADMIN')"><a href="/book/bookList" >Books</a></li>
						<li sec:authorize="hasRole('ADMIN')"><a href="/book/add" >Add Book</a></li>
						<li><a sec:authorize="isAnonymous()" th:href="@{/onlinebookstore/public/login}">Login </a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/myprofile}" sec:authentication="principal.username"></a></li>
						<li><a sec:authorize="isAuthenticated()" href="/onlinebookstore/public/logout" class="btn btn-secondary">Logout</a></li>

					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
		</div>
		<div th:fragment="body-bottom-scripts">
<!--			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
<!--			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>-->

			<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		</div>
	
</body>
</html>